<configuration>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="C4HdlCLR"
				publicKeyToken="4402105ef089133c"
				culture="Neutral" />
				<bindingRedirect oldVersion="1.0.0.0-1.4.1.0" newVersion="1.4.1.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
