# BT Control default configuration
# Edit values here to change defaults without passing cfg structs explicitly.

[global]
stopAppDataKey = BT_CONTROL_STOP_B_QUEUE

[set_z_magnet_mode]
ip = 192.168.0.101
port = 7185
timeoutSec = 3
pollSec = 10
setUnitEachCall = true
skipSecondRampIfTargetZero = true
zeroFirstDriven = false
zeroFirstPersistent = true
waitPersistentBy = pers_query
psOffBufferSec = 20
hsHeatUpMinBufferSec = 30
hsCoolDownMinBufferSec = 600
allowZeroPersistentFallback = true
allowPausedZeroPersistentFallback = true
zeroPausedCurrentAbsTol = 1e-2
useZeroPersistentFinalPolicy = true
stopCheckEnabled = false
stopWaitGranularitySec = 2
verbose = true

[set_temperature_safe]
lookbackMin = 5
commRetryCount = 3
commRetryBackoffSec = 0.5
magPort = 7185
magTimeoutSec = 3
magGateRequirePsZero = false
magGateAllowPausedStateWithPsOff = false
magGatePausedCurrentAbsTol = 1e-2
tcConnectTimeoutSec = 20
tcResponseTimeoutSec = 30
commMaxBlockSecWhenStop = 2
stopWaitGranularitySec = 2
stopCheckEnabled = false
hFigAuto = []
verbose = false

[mag_z_gate_precheck]
port = 7185
timeoutSec = 3
requirePsZero = false
allowPausedStateWithPsOff = false
pausedCurrentAbsTol = 1e-2

[run_b_field_queue_v2_1]
mode = driven
bEstimateScale = 1000
resetStopLatch = true
writeStartLog = true
writeAnalysisSnippet = true
writeNotionSequenceLog = false
testModeNoBT = false
skipFirstMagControl = false
verbose = true

[run_tb_queue_minimal]
mode = driven
bEstimateScale = 1000
resetStopLatch = true
writeStartLog = false
writeAnalysisSnippet = false
notionParentPageKey =
testModeNoBT = false
skipFirstMagControl = false
saveRoot = D:\t1_auto_saves_v3_1
verbose = true

[request_stop_b_field_queue]
verbose = true

[clear_stop_b_field_queue]
verbose = true
